*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;

}


body{

height:100vh;
background:#080b16;
color:white;

}


.app{

display:flex;
height:100vh;

}



.sidebar{

width:260px;
background:#111827;
padding:25px;

}



.sidebar h2{

font-size:28px;

}


.sidebar p{

color:#aaa;
margin-top:10px;

}



.card{

margin-top:25px;
background:#1f2937;
padding:15px;
border-radius:15px;

}


.card b{

color:#00d4ff;

}




.chat{

flex:1;
display:flex;
flex-direction:column;

}




header{

padding:25px;
border-bottom:1px solid #333;

}



header p{

color:#aaa;

}



#messages{

flex:1;
padding:25px;
overflow:auto;

}



.message{

max-width:70%;
padding:15px;
margin:15px 0;
border-radius:18px;
line-height:1.5;

}



.bot{

background:#1f2937;

}



.user{

background:#006eff;
margin-left:auto;

}




.input-area{

display:flex;
gap:15px;
padding:20px;

}



input{

flex:1;
padding:16px;
border-radius:30px;
border:none;
background:#111827;
color:white;
font-size:16px;

}



button{

width:100px;
border:none;
border-radius:30px;
background:#00d4ff;
cursor:pointer;
font-weight:bold;

}



button:hover{

transform:scale(1.05);

}




@media(max-width:700px){

.sidebar{

display:none;

}


.message{

max-width:90%;

}

}