<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>PDF AI Assistant</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>


<body>


<div class="app">


<div class="sidebar">

<h2>🤖 PDF AI</h2>

<p>RAG Assistant</p>

<div class="card">
<p>📄 Document</p>
<b>Attention Paper</b>
</div>


<div class="card">
<p>🧠 AI Model</p>
<b>Gemini 2.5</b>
</div>


<div class="card">
<p>⚡ Tech</p>
<b>LangChain</b>
</div>


</div>



<div class="chat">


<header>

<h1>PDF Document Assistant</h1>

<p>Ask anything from your document</p>

</header>



<div id="messages">


<div class="message bot">

Hello 👋  
<br>
I can answer questions from your PDF.

</div>


</div>




<div class="input-area">


<input
id="question"
placeholder="Ask your question..."
>


<button onclick="askQuestion()">
Send
</button>


</div>


</div>



</div>



<script src="{{ url_for('static', filename='script.js') }}"></script>


</body>

</html>